@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}
body {
  background-color: hsl(218, 23%, 16%);
  height: 100vh;
  gap: 5rem;
}
.container {
}

.adviceCont {
  background-color: hsl(217, 19%, 24%);
  width: 90%;
  /* height: 40%; */
  border-radius: 2rem;
  padding: 5rem;
}
.adv {
  color: hsl(150, 100%, 66%);
  font-size: 1.6rem;
}

.adviceText {
  color: hsl(193, 38%, 86%);
  font-size: 2.4rem;
  font-weight: bolder;
  text-align: center;
}

.diceCont {
  background-color: hsl(150, 100%, 66%);
  width: 6rem;
  height: 6rem;
}
.diceCont:hover {
  box-shadow:
    -4px -4px 10px hsl(150, 100%, 66%),
    4px 4px 10px hsl(150, 100%, 66%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 640px) {
  .adviceCont {
    width: 60%;
    /* height: 40%; */
  }
}

@media screen and (min-width: 1024px) {
  .adviceCont {
    width: 60rem;
    /* height: 40%; */
  }
}
